build/
out/
.vs/
.vscode/
*.user
*.suo
*.ninja*
*.log
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.msi
*.zip
*.7z
*.tmp
*.cache
packages/
third_party/librime/
schemas/frost/current/
schemas/frost/staging/
